
.elemento {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/fotos-8113a.appspot.com/o/Geometry_Texture_Blue_Light_Blue_White_background_586221_2560x1440.jpg?alt=media&token=bfe508ad-cbb4-48e8-9251-6b15a8467e1e);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .btn svg {
    transition: transform 0.5s;
  }
  
  .btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
  
  


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #2EBCD5;
  }
  
  .cards .blue {
    background-color: #2EBCD5;
  }
  
  .cards .green {
    background-color: #2EBCD5;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    color: rgb(8, 8, 8);
    cursor: pointer;
    transition: 400ms transform, 400ms box-shadow, 400ms background-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .cards .card p.tip {
    font-size: 2em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 0.7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  